<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.app.gpuu2578177.gpuu8a8d5ccfc67742ddc9d4645c75ba8823">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
